*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #f5cb00;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
}
ul{
    display: flex;
    gap: 25px;
}
li{
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 17px;
}
.contenedor-uno{
    display: flex;
    flex-direction: row;
    padding-bottom: 200px;
}
.texto-uno{
    padding: 160px 40px;
}
.texto-uno h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 100px;
    width: 400px;
    line-height: 85px;
}
.texto-uno p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 17px;
    width: 520px;
    margin-top: 30px;
}
.imagen-uno{
    padding: 90px 90px;
}
.contenedor-uno button{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border-style: none;
    background-color:  #f5cb00;
    padding: 10px 30px;
    font-size: 17px;
    margin-top: 30px;
}
.contenedor-dos{
    display: flex;
    flex-direction: row;
    background-color: rgb(231, 230, 230);
    margin: 20px 150px;
    position: absolute;
    top: 730px; 
    left: 0;
    box-shadow: 20px 30px 45px rgba(0, 0, 0, 0.2);
}
.texto-dos{
    padding: 100px 90px;
}
.texto-dos h1{
    color:  #f5cb00;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 60px;
    width: 230px;
    line-height: 50px;
}
.texto-dos p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 17px;
    width: 300px;
    margin-top: 10px;
    padding-bottom: 20px;
}
.texto-dos a{
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.imagenes-dos{
    margin-top: 100px;
    margin-left: 150px;
}
.imagenes-tres{
    margin-top: 100px;
    margin-left: 100px;
    padding-right: 50px;
}
.contenedor-uno-dos-tres{
    position: relative;
}
.contenedor-tres{
    background-color:  #f5cb00;
    padding-top: 350px;
    padding-bottom: 90px;
}
.contenedor-tres h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 100px;
    width: 700px;
    line-height: 90px;
    padding-left: 90px;
}
.contenedor-tres p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 17px;
    width: 422px;
    margin-top: 10px;
}
.texto-tres{
    padding-left: 90px;
}
.texto-tres button{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border-style: none;
    background-color: black;
    color: white;
    padding: 10px 30px;
    font-size: 17px;
    margin-top: 40px;
}
.contenedor-dentro{
    display: flex;
    flex-direction: row;
}
.imagen-tres img{
    margin-left: 70px;
}
.contenedor-base{
    background-color: white;
    padding: 110px 150px;
}
.contenedor-cuatro{
    display: flex;
    flex-direction: row;
    background-color: rgb(231, 230, 230);
    box-shadow: 20px 30px 45px rgba(0, 0, 0, 0.2);
}
.imagen-allado img{
    height: 100%;
}
.imagen-relleno img{
    width: 250px;
    margin: 30px 0 0 230px;
}
.contenedor-cuatro h1{
    color:  #f5cb00;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 80px;
}
.contenedor-cuatro p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 17px;
    width: 390px;
}
.contenedor-cuatro button{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border-style: none;
    background-color: black;
    color: white;
    padding: 10px 30px;
    font-size: 17px;
    margin-top: 40px;
}
.texto-cuatro{
    padding: 40px 40px;
}
.contenedor-cinco{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}
.contenedor-cinco h2{
    color:#f5cb00;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 40px;
    margin-top: 70px;
}
.contenedor-cinco p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 17px;
    width: 690px;
    color: white;
    text-align: center;
    margin-top: 10px;
}
.contenedor-cinco img{
    margin-top: 40px;
}
.contenedor-cinco button{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border-style: none;
    background-color:  #f5cb00;
    padding: 10px 30px;
    font-size: 17px;
    margin-top: 30px;
}
.contenedor-seis{
    display: flex;
    flex-direction: row;
}
.texto-cinco{
    padding: 320px 10px;
}
.texto-cinco h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 60px;
}
.texto-cinco p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 17px;
    width: 430px;
    margin-top: 20px;
}
.texto-cinco button{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border-style: none;
    background-color:  #f5cb00;
    padding: 10px 30px;
    font-size: 17px;
    margin-top: 40px;
}
.imagen-cuatro img{
    padding: 110px 90px;
}
.contenedor-siete{
    background-color: rgb(231, 230, 230);
    display: flex;
    flex-direction: row;
}
.texto-siete{
    padding: 250px 90px;
}
.texto-siete h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 80px;
    width: 500px;
    line-height: 80px;
}
.texto-siete p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 17px;
    width: 500px;
    margin-top: 20px;
}
.texto-siete button{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border-style: none;
    background-color:  #f5cb00;
    padding: 10px 30px;
    font-size: 17px;
    margin-top: 40px;
}
.imagen-siete img{
    padding: 80px 50px;
}
.contenedor-ocho{
    display: flex;
    flex-direction: row;
}
.contenedor-ocho{
    padding: 130px 130px;
    justify-content: space-evenly;
}
.parrafo-uno{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    margin-top: 20px;
    width: 450px;
}
.formulario{
    background-color: black;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    height: 580px;
}
label{
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}
.parte-superior input{
    width: 220px;
}
input{
    background-color: black;
    border-style: none;
    border: 2px solid white;
    font-size: 20px;
    margin: 10px 15px 10px 0;
    width: 455px;
}
textarea{
    background-color: black;
    border-style: none;
    border: 2px solid white;
    width: 455px;
    height: 200px;
    margin-top: 10px;
}
.parte-superior{
    display: flex;
    flex-direction: row;
}
.texto-ocho{
    padding: 130px 90px;
}
.texto-ocho h1{
    color:  #f5cb00;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 70px;
    width: 380px;
    line-height: 70px;
}
.texto-ocho p{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 17px;
    width: 500px;
    margin-top: 20px;
}
.texto-ocho button{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border-style: none;
    background-color: black;
    color: white;
    padding: 10px 30px;
    font-size: 17px;
    margin-top: 40px;
}
.contenedor-nueve{
    background-color: #f5cb00;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-nueve h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 40px;
    margin-top: 50px;
}
.contenedor-nueve p{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.contenedor-nueve button{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border-style: none;
    background-color: black;
    color: white;
    padding: 10px 30px;
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 50px;
}
footer{
    background-color: black;
}
.imagen-footer img{
    padding: 80px 0 100px 50px;
}
.texto-footer{
    display: flex;
    flex-direction: row;
}
.texto-footer a{
    text-decoration: none;
    color: #f5cb00;
    font-size: 20px;
}
.uno{
    width: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 20px 50px;
}
.dos{
    width: 400px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 20px 120px;
}
hr{
    margin: 150px 30px 40px 50px;
}
.footer-abajo{
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    justify-content: space-between;
}
.footer-abajo p{
    font-family: "Montserrat", sans-serif;
    color: #f5cb00;
    margin-left: 50px;
}
.footer-abajo img{
    height: 20px;
    margin-left: 20px;
}
.iconos{
    margin-right: 30px;
}
/* MEDIA QUERIES */

@media (max-width: 1279px){
    .contenedor-uno{
        display: flex;
        flex-direction: column;
    }
    .texto-uno{
        padding: 90px 80px;
    }
    .imagen-uno{
        padding: 50px 0 0 80px;
    }
    .contenedor-dos{
        top: 1150px; 
        margin-left: 50px;
    }
    .imagenes-dos{
        padding-right: 80px;
        margin-left: 40px;
    }
    .imagenes-tres{
        display: none;
    }
    .contenedor-dentro{
        flex-direction: column;
    }
    .imagen-tres img{
        padding-top: 60px;
        margin-left: 50px;
    }
    .contenedor-cuatro{
        flex-direction: column;
    }
    .contenedor-cinco img{
        width: 800px;
    }
    .contenedor-seis{
        flex-direction: column-reverse;
    }
    .texto-cinco{
        padding: 95px 0 0 90px;
    }
    .imagen-cuatro img{
        padding: 70px 0 80px 90px;
    }
    .contenedor-siete{
        flex-direction: column;
    }
    .texto-siete{
        padding: 100px 0 0 90px;
    }
    .imagen-siete{
        padding: 20px 50px;
    }
    .contenedor-ocho{
        flex-direction: column;
    }
    .formulario form{
        padding-left: 60px;
    }
    .texto-ocho{
        padding: 80px 0 10px 5px;
    }
    .contenedor-nueve img{
        width: 800px;
    }
}
@media (max-width: 920px){
    .contenedor-dos{
        margin-left: 40px;
        top: 1170px;
    }
    .texto-dos{
        padding: 50px 50px;
    }
    .imagenes-dos{
        padding-right: 30px;
        margin-left: 40px;
        margin-top: 50px;
    }
    .texto-tres{
        padding-left: 100px;
    }
    .imagen-tres img{
        padding-top: 60px;
        margin-left: 100px;
        width: 600px;
    }
    .imagen-allado img{
        width: 100%;
    }
    .contenedor-base{
    background-color: white;
    padding: 80px 80px;
    }
    .contenedor-cinco img{
        width: 600px;
    }
    .imagen-cuatro img{
        padding: 70px 0 80px 90px;
        width: 700px;
    }
    .imagen-siete img{
        padding: 70px 0 50px 30px;
        width: 650px;
    }
    .formulario{
        width: 550px;
    }
    .formulario form{
        padding-left: 10px;
    }
    .contenedor-nueve img{
        width: 700px;
    }
    .contenedor-ocho{
        padding: 100px 100px;
    }
}
@media (max-width: 768px){
    ul{
    gap: 15px;
    }
    li{
    font-size: 15px;
    } 
    nav{
    padding: 10px 20px;
    }
    .contenedor-uno img{
        width: 400px;
    }
    .imagen-uno{
        padding: 40px 40px;
    }
    .texto-uno{
        padding: 40px 40px;
    }
    .texto-uno p{
        width: 400px;
    }
        .contenedor-dos{
        margin-left: 40px;
        top: 980px;
    }
    .imagenes-dos{
        display: none;
    }
    .contenedor-tres{
        padding-top: 300px;
    }
    .contenedor-tres h1{
        padding-left: 40px;
        width: 500px;
    }
    .texto-tres{
        padding: 40px 40px;
    }
    .texto-tres p{
        width: 400px;
    }
    .imagen-tres img{
        width: 400px;
        margin-left: 40px;
    }
    .contenedor-cuatro{
        width: 400px;
        margin-top: 50px;
    }
    .contenedor-base{
        padding: 40px 40px;
    }
    .texto-cuatro{
        padding: 30px 30px;
    }
    .texto-cuatro p{
        width: 300px;
    }
    .imagen-relleno img{
        width: 250px;
        margin: 90px 0 50px 50px;
    }
    .contenedor-cinco p{
        width: 420px;
    }
    .contenedor-cinco img{
        width: 400px;
    }
    .texto-cinco{
        padding: 80px 0 0 40px;
    }
    .texto-cinco p{
        width: 400px;
    }
    .imagen-cuatro img{
        width: 500px;
        padding: 40px 40px;
    }
    .texto-siete{
        padding: 80px 0 0 40px;
    }
    .texto-siete p{
        width: 400px;
    }
    .imagen-siete img{
        width: 400px;
        padding: 70px 20px 70px 0;
    }
    .formulario{
        padding-left: 30px;
        padding-right: 20px;
        width: 400px;
        height: 600px;
    }
    .parte-superior input{
        width: 150px;
    }
    input{
        width: 315px;
    }
    textarea{
        width: 315px;
    }
    .contenedor-ocho{
        padding: 80px 0 0 40px;
    }
    .parrafo-uno{
        width: 330px;
    }
    .texto-ocho{
        padding-bottom: 80px;
    }
    .texto-ocho p{
        width: 400px;
    }
    .contenedor-nueve img{
        width: 450px;
    }
}
@media (max-width: 480px){
    ul{
    gap: 10px;
    }
    li{
    font-size: 13px;
    } 
    nav{
    padding: 10px 10px;
    }
    nav img{
        width: 50px;
    }
    .contenedor-uno img{
        width: 300px;
    }
    .imagen-uno{
        padding: 60px 25px;
    }
    .texto-uno{
        padding: 10px 25px;
    }
    .texto-uno h1{
        width: 300px;
    }
    .texto-uno p{
        width: 300px;
    }
    .contenedor-dos{
        margin-left: 20px;
        top: 1000px;
    }
    .texto-dos{
        padding: 30px 30px;
    }
    .texto-dos p{
        width: 250px;
    }
    .imagenes-dos{
        display: none;
    }
    .contenedor-tres{
        padding-top: 250px;
    }
    .contenedor-tres h1{
        padding-left: 20px;
        width: 350px;
    }
    .texto-tres{
        padding: 20px 20px;
    }
    .texto-tres p{
        width: 300px;
    }
    .imagen-tres img{
        width: 300px;
        margin-left: 20px;
    }
    .contenedor-cuatro{
        width: 300px;
        margin-top: 50px;
    }
    .contenedor-base{
        padding: 40px 25px;
    }
    .texto-cuatro{
        padding: 30px 20px;
    }
    .texto-cuatro h1{
        font-size: 65px;
    }
    .texto-cuatro p{
        width: 250px;
    }
    .imagen-relleno img{
        width: 230px;
        margin: 90px 20px 50px 20px;
    }
    .contenedor-cinco p{
        width: 320px;
    }
    .contenedor-cinco img{
        width: 300px;
    }
    .texto-cinco{
        padding: 80px 0 0 20px;
    }
    .texto-cinco p{
        width: 300px;
    }
    .imagen-cuatro img{
        width: 350px;
        padding: 40px 20px;
    }
    .texto-siete{
        padding: 80px 0 0 20px;
    }
    .texto-siete p{
        width: 302px;
    }
    .texto-siete h1{
        width: 320px;
    }
    .imagen-siete img{
        width: 320px;
    }
    .imagen-siete{
        padding: 20px 20px;
    }
    .formulario{
        padding-left: 15px;
        padding-right: 20px;
        padding-top: 30px;
        width: 300px;
        height: 650px;
    }
    .parte-superior input{
        width: 250px;
    }
    .parte-superior{
        display: flex;
        flex-direction: column;
    }
    input{
        width: 250px;
    }
    textarea{
        width: 250px;
    }
    .contenedor-ocho{
        padding: 80px 0 0 30px;
    }
    .parrafo-uno{
        width: 250px;
    }
    .texto-ocho h1{
        width: 200px;
    }
    .texto-ocho p{
        width: 300px;
    }
    .contenedor-nueve img{
        width: 300px;
    }
    .contenedor-nueve p{
        font-size: 20px;
        text-align: center;
    }
}


